---
title: About Jason
---


<!DOCTYPE HTML>

<head>
  {% include head.html %}
</head>

<body>

  {% assign noads="true" %}
  {% include common_body.html %}


  <div class='container'>

    <h1>Bio</h1>

    <p>
    I'm an independent contractor with 15 years of development experience. For the past 5 years I've specialized in cross platform development, scripting of C++ libraries, and automated testing and code quality analysis. I'm the co-creator and maintainer of the embedded scripting language for C++, <a href="http://chaiscript.com">ChaiScript</a>, and author and curator of the forkable coding standards document <a href="http://cppbestpractices.com">C++ Best Practices</a>
    </p>

    <ul>
      <li><a href="https://www.linkedin.com/in/lefticus">Linked-In Profile</a></li>
      <li><a href="http://stackoverflow.com/cv/lefticus">StackOverflow CV</a></li>
    </ul>

    <h1>Training And Teaching</h1>

    <p>
    I have spoken at several conferences, co-hosted <a href="http://cppcast.com">CppCast</a> (the podcast for C++ Developers), created a video series with O'Reilly, created my own video series on various C++ topics and authored all of the articles on this website.
    </p>

    <ul>
      <li><a href="http://cppbestpractices.com">C++ Best Practices - A Forkable Coding Standards Document</a></li>
      <li><a href="http://www.jdoqocy.com/click-4720029-11290546?url=http%3A%2F%2Fshop.oreilly.com%2Fproduct%2F0636920049814.do%3Fcmp%3Daf-code-books-video-product_cj_0636920049814_%25zp&cjsku=0636920049814">Learning C++ Best Practices</a></li>
      <li><a href="http://cppcast.com">CppCast - Podcast for C++ Developers</a></li>
      <li><a href="/cpp_weekly.html">C++ Weekly Video Series</a> <a href="https://www.youtube.com/playlist?list=PLs3KjaCtOwSZ2tbuV1hx8Xz-rFZTan2J1">(YouTube Playlist)</a></li>
      <li><a href="https://www.youtube.com/playlist?list=PLs3KjaCtOwSaUCQOzoGEhKwYxQL3qs8ub">Conference Talks</a></li>
    </ul>


    <h1>Open Source Development</h1>

    <p>
    I've had the fortune of being able to work on open source software both professionally and personally for several years. I am the co-creator and maintainer of ChaiScript, an embedded scripting engine for C++ which is free.
    </p>

    <ul>
      <li><a href="http://chaiscript.com">ChaiScript</a></li>
      <li><a href="https://www.openhub.net/accounts/lefticus">OpenHub Open Source Profile</a></li>
    </ul>

    <h1>Availability</h1>

    <p>
    I'm available for software development, training and speaking. Please <a href="/contact.html">contact me</a> if you are interested in my services.
    </p>

    <br/>
    <br/>
    <br/>

  </div>


</body>


