---
title: I Do C++
---


<!DOCTYPE HTML>

<head>
  {% include head.html %}
</head>

<body>
  {% assign noads="true" %}
  {% include common_body.html %}

  <div class='container'>
    <div class="p-4 bg-light border rounded mb-3">
      <h3>I Am Available For Training and Consulting</h3>
    </div>


    <div class="card border-success mb-3">
      <div class="card-header cs-blue">
        <h3 class="card-title fs-6 mb-0">Contact Me At...</h3>
      </div>
      <div class="card-body">
        <ul>
          <li><i class="fas fa-thumbs-up" aria-hidden="true"></i> <a href="/contact">my contact form</a></li>
          <li><i class="fab fa-twitter" aria-hidden="true"></i> <a href="https://twitter.com/lefticus">Twitter</a></li>
          <li><i class="fab fa-linkedin" aria-hidden="true"></i> <a href="https://www.linkedin.com/in/lefticus">Linked-In</a></li>
        </ul>
      </div>
    </div>

    <div class="p-4 bg-light border rounded mb-3">
      <h3>I have been working with C++ professionally since 2003.</h3>
    </div>


    <div class="card border-success mb-3">
      <div class="card-header cs-blue">
        <h3 class="card-title fs-6 mb-0">Training And Teaching, I... </h3>
      </div>
      <div class="card-body">
        <ul>
          <li><i class="fas fa-microphone" aria-hidden="true"></i> co-host <a href="https://cppcast.com">CppCast</a>, the podcast by C++ developers for C++ developers</li>
          <li><i class="fab fa-youtube" aria-hidden="true"></i> host <a href="https://www.youtube.com/channel/UCxHAlbZQNFU2LgEtiqd2Maw">C++ Weekly</a>, a YouTube channel on various C++ topics</li>
          <li><i class="fas fa-microphone" aria-hidden="true"></i> am a regular speaker at C++ conferences, and have several <a href="https://www.youtube.com/playlist?list=PLs3KjaCtOwSaUCQOzoGEhKwYxQL3qs8ub">videos available online</a></li>
          <li><i class="fas fa-video" aria-hidden="true"></i> have authored <a href="http://www.jdoqocy.com/click-4720029-11290546?url=http%3A%2F%2Fshop.oreilly.com%2Fproduct%2F0636920049814.do%3Fcmp%3Daf-code-books-video-product_cj_0636920049814_%25zp&cjsku=0636920049814">Learning C++ Best Practices</a> with O'Reilly</li>
        </ul>
      </div>
    </div>

    <div class="card border-success mb-3">
      <div class="card-header bg-success-subtle text-success-emphasis">
        <h3 class="card-title fs-6 mb-0">Writing, I... </h3>
      </div>
      <div class="card-body">
        <ul>
          <li><i class="fas fa-thumbs-up" aria-hidden="true"></i> blog on <a href="https://articles.emptycrate.com">this site</a></li>
          <li><i class="fab fa-twitter" aria-hidden="true"></i> regularly tweet about C++ as <a href="https://twitter.com/lefticus">@lefticus</a></li>
          <li><i class="fas fa-file-lines" aria-hidden="true"></i> authored and curate the online coding standards doc, <a href="">C++ Best Practices</a></li>
        </ul>
      </div>
    </div>

    <div class="card border-success mb-3">
      <div class="card-header bg-success-subtle text-success-emphasis">
        <h3 class="card-title fs-6 mb-0">Scripting With C++, I... </h3>
      </div>
      <div class="card-body">
        <ul>
          <li><i class="fab fa-github" aria-hidden="true"></i> co-created and maintain <a href="https://chaiscript.com">ChaiScript</a>, an embedded scripting language for C++</li>
          <li><i class="fab fa-github" aria-hidden="true"></i> was a major contributor and maintainer of the <a href="https://github.com/NREL/OpenStudio">OpenStudio</a> C++ SWIG bindings, which is 2209 classes/template instantiations and 66903 methods/functions exposed to 5 different scripting languages via SWIG</li>
          <li><i class="fab fa-github" aria-hidden="true"></i> created the <a href="https://github.com/lefticus/swigstarterkit">SWIG Starter Kit</a></li>
          <li><i class="fab fa-github" aria-hidden="true"></i> <a href="https://github.com/swig/swig/commits?author=lefticus">contributed to</a> the V8 (JavaScript) SWIG target</li>
          <li><i class="fas fa-file-lines" aria-hidden="true"></i> authored <a href="https://articles.emptycrate.com/2016/03/26/so-you-want-to-embed-a-scripting-language.html">So You Want to Embed A Scripting Language in Your Application</a></li>
        </ul>
      </div>
    </div>


</body>


