---
title: Recent Posts
redirect_from:
- blogs/jason/
- node/
---


<!DOCTYPE HTML>

<head>
  {% include head.html %}
</head>

<body>

  {% include common_body.html %}

  <div class='container'>
    <div class="row">
      {% for post in paginator.posts %}
        {% assign current_post = post %}
        {% include post_synopsis.html %}
      {% endfor %}
    </div>


    <nav>
      <ul class="pagination">
        <li class="page-item {% unless paginator.previous_page %}disabled{% endunless %}">
          {% if paginator.previous_page %}
          <a class="page-link" href="{{ paginator.previous_page_path }}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
          {% else %}
          <span class="page-link">&laquo;</span>
          {% endif %}
        </li>


        {% for page in (1..paginator.total_pages) %}
        {% if page == paginator.page %}
        <li class="page-item active"><a class="page-link" href="#">{{ page }}</a></li>
        {% elsif page == 1 %}
        <li class="page-item"><a class="page-link" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a></li>
        {% else %}
        <li class="page-item"><a class="page-link" href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a></li>
        {% endif %}
        {% endfor %}


        <li class="page-item {% unless paginator.next_page %}disabled{% endunless %}">
          {% if paginator.next_page %}
          <a class="page-link" href="{{ paginator.next_page_path }}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
          {% else %}
          <span class="page-link">&raquo;</span>
          {% endif %}
        </li>
      </ul>
    </nav>



</body>


