<div class="jumbotron cs-blue">
  <div class="container">
    <div class="row">
      <div class="col-md-2 vcenter"><a href="/index.html" class="cs-blue"><img src="/logo.png"/></a></div>
      <div class="col-md-8 vcenter">
        <h1><a href="/index.html" class="cs-blue">EmptyCrate</a></h1>
        <h4>
          <a href="/about.html" class="cs-blue">About Me</a> |
          <a href="/contact.html" class="cs-blue">Contact Me</a> |
          <a href="/training.html" class="cs-blue">Training</a> |
          <a href="https://youtube.com/@cppweekly" class="cs-blue">C++ Weekly (YouTube)</a> |
          <a href="https://my-store-d16a2f.creator-spring.com/" class="cs-blue">Awesome C++ T-Shirts</a>          
        </h4>
      </div>
    </div>
  </div>
</div>


<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/index.html">EmptyCrate</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <form  class="navbar-form navbar-left" role="search" action="http://www.google.com" id="cse-search-box">
        <div>
          <input type="hidden" name="cx" value="partner-pub-1595128002130008:6361083647" />
          <input type="hidden" name="ie" value="UTF-8" />
          <input type="text" name="q" size="30" />
          <input type="submit" name="sa" value="Search" />
        </div>
      </form>
      <script type="text/javascript" src="http://www.google.com/coop/cse/brand?form=cse-search-box&amp;lang="></script>
      <ul class="nav navbar-nav">

        {% for tag_page in site.html_pages %}
          {% if tag_page.current_tag %}
            <li {% if page.url == tag_page.url %} class='active' {% endif %}><a href="{{ tag_page.url }}">{{ tag_page.current_tag }}</a></li>
          {% endif %}
        {% endfor %}

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>



<div class="page-header">
  {% if noads != "true" %}
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- Articles Ad -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-1595128002130008"
         data-ad-slot="9767469589"
         data-ad-format="auto"></ins>
    <script>
(adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  {% endif %}
  <div class="container">
    <h1>{{page.title}}</h1>
    {% if page.date %}{% assign current_post = page %}{% include tag_names.html %}{% endif %}
  </div>
</div>

