<title>EmptyCrate.com: {{ page.title }}</title>
<meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
<meta charset="UTF-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="/syntax.css">

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap-theme.min.css">

<script src="/bower_components/jquery/dist/jquery.min.js"></script>


<!-- Latest compiled and minified JavaScript -->
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

<link href="/bower_components/font-awesome/css/font-awesome.css" rel="stylesheet">

<link rel="stylesheet" href="/bower_components/octicons/octicons/octicons.css">

<style>
.cs-blue {color:white; background: #31708f}
a.cs-blue { color:white; }
a:link.cs-blue { color:white; }
a:visited.cs-blue { color:white; }

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

</style>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-384017-8', 'auto');
  ga('send', 'pageview');

</script>

{% feed_meta %}
