
<div class="panel panel-default">
  <div class="panel-heading">My Videos</div>
  <div class="panel-body">

    <iframe src="https://www.oreilly.com/authors/widgets/707.html" height="300px" width="200px" style="border:none"></iframe>

    {% assign num_posts = 0 %}
    {% for post in site.posts %}
      {% if post.youtube_id != null and post.url != page.url %}
        {% assign num_posts = num_posts | plus: 1 %}
        {% if num_posts > 4 %}
          {% break %}
        {% endif %}
        <br/>
        <br/>
        <div>
          <a href="{{ post.url }}"><div class="youtube_thumbnail"><img src="https://img.youtube.com/vi/{{ post.youtube_id }}/default.jpg" alt="Video thumbnail"/></div> {{post.title}}</a>
        </div>
      {% endif %}
    {% endfor %}


  </div>
</div>
