<!DOCTYPE HTML>

<head>
  {% include head.html %}
</head>

<body>

  {% include common_body.html %}

  <div class='container'>
    {% for post in site.posts %}
      {% if post.tags contains page.current_tag %}

      {% assign current_post = post %}
      <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
      <p class="author">
      {% include tag_names.html %}
      </p>
      <div class="content">
        {{ post.excerpt}}
        <br/>
        <br/>
      </div>

      {% endif %}
    {% endfor %}
  </div>

  <script id="dsq-count-scr" src="//emptycrate.disqus.com/count.js" async></script>

</body>

