
<nav aria-label="breadcrumb">
  <ol class="breadcrumb bg-light p-2 rounded">
    <li class="breadcrumb-item active"><span class="date">{{ current_post.date | slice:0, 10 }}</span></li>

    {% assign sorted_tags = current_post.tags | sort %}

    {% for tag_name in sorted_tags %}
       {% assign tag_url = null %}
       {% for tag_page in site.html_pages %}
         {% if tag_page.current_tag == tag_name %}
           {% assign tag_url = tag_page.url %}
           {% break %}
         {% endif %}
       {% endfor %}

       {% if tag_url %}
         <li class="breadcrumb-item active"><a href="{{ tag_url }}">{{ tag_name }}</a></li>
       {% else %}
         <li class="breadcrumb-item active">{{ tag_name }}</li>
       {% endif %}
   {% endfor %}

  </ol>
</nav>
