<!DOCTYPE HTML>

<head>
  {% include head.html %}
</head>

<body>

  {% include common_body.html %}

  <div class='container'>


    <div class="row">
      <div class="col-md-8">
        <!-- AddToAny BEGIN -->
        <div class="a2a_kit a2a_kit_size_32 a2a_default_style">
          <a class="a2a_button_reddit"></a>
          <a class="a2a_button_linkedin"></a>
          <a class="a2a_button_hacker_news"></a>
          <a class="a2a_button_twitter"></a>
          <a class="a2a_button_facebook"></a>

          <a href="https://www.patreon.com/bePatron?u=2977989&redirect_uri=https%3A%2F%2Fwww.patreon.com%2Flefticus">
            <img height="40" width="204" src="https://s3-us-west-1.amazonaws.com/widget-images/become-patron-widget-medium%402x.png">
          </a>
        </div>
        <script async src="https://static.addtoany.com/menu/page.js"></script>
        <!-- AddToAny END -->

        <br/><br/>

        {{ content }}

        {% if page.youtube_id != null %}
          <iframe width="640" height="360" src="https://www.youtube.com/embed/{{ page.youtube_id }}" style="border:none" allowfullscreen></iframe>
        {% endif %}

      </div>
      <div class="col-md-4">
        {% include related.html %}
      </div>
    </div>

    <nav class="d-flex justify-content-between my-4">
      {% if page.previous %}
        <a href="{{ page.previous.url }}">&larr; {{page.previous.title}}</a>
      {% else %}
        <span></span>
      {% endif %}
      {% if page.next %}
        <a href="{{ page.next.url }}">{{page.next.title}} &rarr;</a>
      {% else %}
        <span></span>
      {% endif %}
    </nav>

  </div>


</body>
