<!DOCTYPE HTML>

<head>
  {% include head.html %}
</head>

<body>

  {% include common_body.html %}

  <div class='container'>


    <div class="row">
      <div class="col-md-8">
        <!-- AddToAny BEGIN -->
        <div class="a2a_kit a2a_kit_size_32 a2a_default_style">
          <a class="a2a_button_reddit"></a>
          <a class="a2a_button_linkedin"></a>
          <a class="a2a_button_hacker_news"></a>
          <a class="a2a_button_twitter"></a>
          <a class="a2a_button_google_plus"></a>
          <a class="a2a_button_facebook"></a>

          <a href="https://www.patreon.com/bePatron?u=2977989&redirect_uri=https%3A%2F%2Fwww.patreon.com%2Flefticus">
            <img height="40" width="204" src="https://s3-us-west-1.amazonaws.com/widget-images/become-patron-widget-medium%402x.png">
          </a>
        </div>
        <script>
//var a2a_config = a2a_config || {};
//a2a_config.linkname = "TestPage";
//a2a_config.linkurl = "TestUrl";
        </script>
        <script async src="https://static.addtoany.com/menu/page.js"></script>
        <!-- AddToAny END -->

        <br/><br/>

        {{ content }}

        {% if page.youtube_id != null %}
          <iframe width="640" height="360" src="https://www.youtube.com/embed/{{ page.youtube_id }}" frameborder="0" allowfullscreen></iframe>
        {% endif %}

      </div>
      <div class="col-md-4">
        {% include oreilly.html %}
        {% include related.html %}
      </div>
    </div>

    <nav>
      <ul class="pager">
        {% if page.previous %}{% assign prevdisabled = "" %}{%else%}{% assign prevdisabled = "disabled" %}{% endif %}
        {% if page.next %}{% assign nextdisabled = "" %}{%else%}{% assign nextdisabled = "disabled" %}{% endif %}
        <li class="previous {{prevdisabled}}"><a href="{{ page.previous.url }}"><span aria-hidden="true">&larr;</span> {{page.previous.title}}</a></li>
        <li class="next {{nextdisabled}}"><a href="{{ page.next.url }}">{{page.next.title}} <span aria-hidden="true">&rarr;</span></a></li>
      </ul>
    </nav>

    <div id="disqus_thread"></div>
    <script>
     var disqus_config = function () {
       this.page.url = "http://articles.emptycrate.com{{page.url}}";  // Replace PAGE_URL with your page's canonical URL variable
       this.page.identifier = "{{page.id}}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
     };

    (function() {  // REQUIRED CONFIGURATION VARIABLE: EDIT THE SHORTNAME BELOW
      var d = document, s = d.createElement('script');

      s.src = '//emptycrate.disqus.com/embed.js';  // IMPORTANT: Replace EXAMPLE with your forum shortname!

        s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
    })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
  </div>

  <script id="dsq-count-scr" src="//emptycrate.disqus.com/count.js" async></script>

</body>
